.Chatmain
  .Chatmain-heder
    .Chatmain-heder__group
      .Chatmain-heder__groupname
        = @group.name
      .Chatmain-heder__groupmenberlist
        Menber：
        .Chatmain-heder__groupmenber
        - @group.group_users.each do |menber|
          = menber.user.name
    .Chatmain-heder_edit
      = link_to edit_group_path(@group), class: "Chatmain-heder_edit__Button" do
        Edit
  .Chatmain-message
    .MessageArea
      = render @messages
  .chatmain-bottom
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'