.Chatside
  .Chatside-header
    .Contents
      .Contents-name
        = current_user.name
      .Contents-icon
        = link_to new_group_path, class: "Contents-icon__btn Contents-icon__btn--edit" do
          = icon('far', 'edit')
        = link_to "#", class: "Contents-icon__btn Contents-icon__btn--config"  do
          = icon('fa', 'cog')
  .Chatside-groups
    .Grouplist
      = link_to edit_user_path(current_user) do
        .Group-name
        name
        .Group-message
        新着メッセージはありません