.Chatside
  .Chatside-header
    .Contents
      .Contents-name
        = current_user.name
      .Contents-icon
        = link_to new_group_path, class: "Contents-icon__btn Contents-icon__btn--edit" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "Contents-icon__btn Contents-icon__btn--config"  do
          = icon('fa', 'cog')
  .Chatside-groups
    - current_user.groups.each do |group|
      .Grouplist
        = link_to group_messages_path(group) do
          .Group-name
            = group.name
          .Group-message
            = group.show_last_message